body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    background-color: #ffb300;
    color: rgb(6, 6, 6);
    padding: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.header-logo {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(9, 9, 9);
    border-radius: 7px;
}

.logo-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.navigation-links {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding: 0px;
    margin: 0px
}

.header-secondary-text, .navigation-links {
    color: #070707;
    font-size: 18px;
}

.header-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 50px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #070707;
}

.header-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}

.header-button {
    background-color: #e28a0e;
    border-style: none;
    border-radius: 5px;
    width: 100px;
    height: auto;
    padding: 5px;
    font-weight: bold;
}

.header-image {
    max-width: 400px;
    height: auto;
    border: 3px solid rgb(6, 6, 6);
    border-radius: 10px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

a {
    text-decoration-line: none;
    color: #010100;
}

.main-top {
    text-align: center;
    padding: 50px;
}

.main-title {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 75px;
}

.main-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-image {
    border: 3px solid #EAB943;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.meme-image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.main-text {
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    background-color: #EAB943;
}

.main-container {
    max-width: fit-content;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #0a0a0b;
    padding-bottom: 15px;
}

.person-container {
    display: flex;
    justify-content: flex-end;
}

.main-bottom {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.bottom-container {
    display: flex;
    gap: 75px;
    background-color: #d2af05;
    padding: 50px 100px 50px 100px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.bottom-button {
    background-color: #EAB943;
    border-radius: 5px;
    border-style: none;
    border: 2px solid rgb(9, 9, 9);
    width: 100px;
    height: auto;
    padding: 5px;
}

.bottom-text {
    color: rgb(11, 10, 10);
    margin: 0px -30px 0px -30px;
}

.bottom-title {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #EAB943;
}

.copyright {
    color: rgb(7, 7, 7);
}